<FlexboxLayout height="100%" flexDirection="column" justifyContent="flex-start" alignItems="center" alignContent="flex-start">
    <ns-action-bar
        title="Healthy Teeth"
        [showBackButton]="false"
    ></ns-action-bar>

    
    <StackLayout height="100%" width="90%">
        <Label class="heading strong" text="Top Tips for Keeping your Teeth Healthy"></Label>
        
        <StackLayout height="15%" width="100%" class="tipBlock" orientation="horizontal" horizontalAlignment="center">
            <FlexboxLayout height="60" width="60" class="tipLabelOdd" justifyContent="center" alignItems="center">
                <Label text="1"></Label>
            </FlexboxLayout>
            <StackLayout height="100%" width="100%" class="tipBlockOdd">
                <Label text="Eat Well" class="heading strong"></Label>
                <Label text="to keep your teeth healthy" class="subheading strong" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout height="15%" width="100%" class="tipBlock" orientation="horizontal" horizontalAlignment="center">
            <StackLayout height="100%" width="83%" class="tipBlockEven">
                <Label text="Drink Well" class="heading strong"></Label>
                <Label text="drink tap water to protect your teeth & stay healthy" class="subheading strong" textWrap="true"></Label>
            </StackLayout>
            <FlexboxLayout height="60" width="60" class="tipLabelEven" justifyContent="center" alignItems="center">
                <Label text="2"></Label>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout height="15%" width="100%" class="tipBlock" orientation="horizontal" horizontalAlignment="center">
            <FlexboxLayout height="60" width="60" class="tipLabelOdd" justifyContent="center" alignItems="center">
                <Label text="3"></Label>
            </FlexboxLayout>
            <StackLayout height="100%" width="100%" class="tipBlockOdd">
                <Label text="Clean Well" class="heading strong"></Label>
                <Label text="brush your teeth in the morning & night" class="subheading strong" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout height="15%" width="100%" class="tipBlock" orientation="horizontal" horizontalAlignment="center">
            <StackLayout height="100%" width="83%" class="tipBlockEven">
                <Label text="Stay Well" class="heading strong"></Label>
                <Label text="visit the dentist once a year for a check-up" class="subheading strong" textWrap="true"></Label>
            </StackLayout>
            <FlexboxLayout height="60" width="60" class="tipLabelEven" justifyContent="center" alignItems="center">
                <Label text="4"></Label>
            </FlexboxLayout>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>