<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
          <h1>
              Info
            </h1>
      </div>

    </div>

    <div class="row">
            <div class="col-sm-8">
                    <div class="tab-panel">
                      <tabset>
                        <tab heading="Emergency">
                            <br>
                            <p>Find helpful information for dental emergencies. 
                            <br>
                            If you are still unsure, Call 13 HEALTH (13 43 25 84) for confidential, expert advice</p>
                            <h4>Toothache</h4>
                            <ul class="careList">
                                <li class="careitem">Rinse the mouth with warm water to remove food debris</li>
                                <li class="careitem">If swelling is present, place a cold compress to the outside of the cheek (do not use heat)</li>
                                <li class="careitem">Control moderate pain with over-the-counter pain medication</li>
                                <li class="careitem">Do not place aspirin on the gum or aching tooth. Aspirin can cause the soft tissue to burn</li>
                                <li class="careitem">Seek dental treatment as soon as possible.</li>

                            </ul>
                            <hr>
                            <h4>Knocked Out Tooth</h4>
                            <strong style="color:red;">If an adult (permanent) tooth is knocked out, it can be saved but immediate action is required.</strong>
                            <ul class="careList">
                                    <li class="careitem">Remain calm and find the tooth</li>
                                    <li class="careitem">Handle the top of the tooth only (the crown). Never hold the tooth by its roots
                                        </li>
                                    <li class="careitem">Do not scrape, rub or remove any tissue fragments from the tooth
                                        </li>
                                    <li class="careitem">Make sure the tooth is clean. If the tooth is dirty, rinse it in milk or very quickly in water. Alternatively, the owner can gently suck the tooth although this is not recommended for young children or adults who are unconscious, in shock or not calm and cooperative
                                        </li>
                                    <li class="careitem">Immediately replant the tooth in the socket and hold tooth in place
                                        </li>
                                    <li class="careitem">If unable to replant the tooth, keep it moist by immersing it in milk (not water), sealing it in plastic wrap, or placing it in the owner's mouth next to the cheek (if the owner is able)
                                        </li>
                                    <li class="careitem">Do not let the tooth dry out
                                        </li>
                                    <li class="careitem">Seek immediate dental treatment (time is critical).
                                        </li>
                                        <strong style="color:red;">If a baby (deciduous or milk) tooth is knocked out:</strong>
                                    <li class="careitem">Do not attempt to replace it in the socket. Re-implanting a knocked out baby tooth could cause damage to the developing adult tooth
                                        </li>
                                        <li class="careitem">Seek prompt dental treatment so any trauma to the lips and gums can be managed.</li>
                                </ul>
                                <hr>
                            <h4>Chips, Fractures & Cracks</h4>
                            <ul class="careList">
                                    <li class="careitem">If a tooth is chipped, fractured or cracked seek dental treatment as soon as possible
                                        </li>
                                    <li class="careitem">If the chip or fracture is only minimal and there is no soft tissue trauma and no pain, do not panic. Seek prompt dental treatment
                                        </li>
                                    <li class="careitem">If the damage to the tooth is more extensive, look for any sign of ‘pink’ as this indicates the nerve is exposed. If the nerve is exposed, seek immediate dental treatment. Delaying treatment may mean the tooth will be unable to be saved.
                                        </li>

                                </ul>
                                <hr>
                            <h4>Bitten Lips or Cheeks</h4>
                            <p>A lip or cheek can be bitten while eating, as a result of a fall or after a local anaesthetic. The area may be very sore and swelling and infection can occur. If a numb lip or cheek is sucked, bitten or rubbed, it can be damaged without the patient realising it.
                                <br>
                                <br>
                                The area often looks like a chemical burn and may be misdiagnosed as such. Swelling and infection can occur as a result of a bitten lip or cheek.</p>
                            <ul class="careList">
                                    <li class="careitem">Treat a bitten lip or cheek with warm, saltwater mouth rinses to promote healing (half a teaspoon of salt in a cup of lukewarm water)
                                        </li>
                                    <li class="careitem">Seek treatment from a dentist if an infection occurs.

                                        </li>
  
                                </ul>
                                <hr>
                            <h4>Abscesses & Swelling</h4>
                            <p>If you experience trauma to the lip, cheek or gums you should:</p>
                            <p>Dental abscesses are pus-filled swellings caused by infection inside a tooth, infection of the gum or trauma to the tooth. Abscesses are often painful, but not always. Abscesses can cause facial swelling or enlarged lymph glands. In rare cases, dental abscesses can cause more widespread infection and may be life threatening.</p>
                            <ul class="careList">
                                    <li class="careitem">Seek immediate treatment by a dentist or doctor for facial swelling
                                        </li>
                                    <li class="careitem">Control moderate pain with over-the-counter pain medication. Take this in the usual way and do not apply the medication to the abscess itself
                                        </li>
                                    <li class="careitem">Use cold compresses to help control swelling
                                        </li>
                                    <li class="careitem">A dentist or doctor may prescribe antibiotics to reduce infection, however antibiotics will not remove the source of infection
                                        </li>
                                    <li class="careitem">Seek prompt dental treatment. An abscess will not heal itself, and antibiotics will not fix the problem.
                                        </li>
                                </ul>
                                <hr>
                            <h4>Soft Tissue Trauma & Bleeding</h4>
                            <ul class="careList">
                                    <li class="careitem">Apply a clean bandage or folded handkerchief to the wound and apply firm pressure
                                        </li>
                                    <li class="careitem">Sit down and maintain the pressure for at least 10 minutes. Don’t lie down flat
                                        </li>
                                    <li class="careitem">If the bleeding cannot be controlled, seek immediate medical attention
                                        </li>
                                    <li class="careitem">Apply a cold compress to relieve swelling and pain
                                        </li>
                                    <li class="careitem">Seek dental or medical advice
                                        </li>
                                    <li class="careitem">Use warm, saltwater mouth rinses until the wound has healed to reduce the risk of infection (half a teaspoon of salt in a cup of lukewarm water).
                                        </li>

                                </ul>
                            <hr>
                            <h4>Jaw Pain</h4>
                            <p>If you are having trouble eating or opening your mouth due to jaw pain, or you experience jaw pain when waking, seek medical or dental treatment to diagnose the source of the pain.</p>
                            <ul class="careList">
                                    <li class="careitem">Apply a cold compress</li>
                                    <li class="careitem">Take anti-inflammatory medication.</li>

                                </ul>
                                <hr>
                            <h4>Emergency Assistance</h4>
                             <button class="btn btn-warning mr-2">Call 13 Health</button>
                             <button class="btn btn-success" [routerLink]="['/clinics']">Find a Clinic</button>
                             <br><br>
                             <h4>Or</h4>
                             <p>Look under Queensland Health, Dental (Oral) Health Services in the white pages.</p>
                        </tab>
              
                        <tab heading="Dental Care">
                            <br>
                                <a href="https://www.health.qld.gov.au/oralhealth/healthy_smile"><h4>Keep a Healthy Smile</h4></a>
                                <p>Follow the link for a wealth or resources for healthy oral hygiene and dental care tips!</p>
                        </tab>
              
                      </tabset>
                    </div>
              
                  </div>
    </div>
    
</div>