
<FlexboxLayout height="100%" flexDirection="column" alignItems="center" justifyContent="flex-start">
        <ns-action-bar
        title="Request Call Back"
        [showBackButton]="true"
      ></ns-action-bar>
      <StackLayout width="100%" height="100%">
        <Label class="h1" text="Request a Call Back" textAlign="left"></Label>
        <Label class="h3" text="Send us some details about your enquiry"></Label>
        <Label class="h3" text="and we wil give you a call ASAP"></Label>
        <StackLayout class="form" [formGroup]="form">
                <StackLayout class="input-field">
                        <Label 
                        class="label" 
                        text="First Name" 
                        ></Label>
                        <TextField
                        class="input" 
                        returnKeytype="next"
                        autocorrect="false"
                        formControlName="firstName"
                        ></TextField>
        
                </StackLayout>
                <StackLayout class="input-field">
                        <Label 
                        class="label" 
                        text="Last Name" 
                        ></Label>
                        <TextField
                        class="input" 
                        returnKeytype="next"
                        autocorrect="false"
                        formControlName="lastName"
                        ></TextField>
        
                </StackLayout>
                <StackLayout class="input-field">
                        <Label 
                        class="label" 
                        text="Phone Number"
                        keyboardType="phone"
                        ></Label>
                        <TextField
                        class="input" 
                        returnKeytype="next"
                        autocorrect="false"
                        formControlName="phone"
                        ></TextField>
        
                </StackLayout>
                <StackLayout class="input-field">
                        <Label 
                        class="label" 
                        text="Message" 
                        ></Label>
                        <TextField
                        class="input" 
                        returnKeytype="next"
                        autocorrect="false"
                        formControlName="message"
                        ></TextField>
        
                </StackLayout>
                <Button class="btn" text="Request Call" (tap)="requestCall()"></Button>
        </StackLayout>
      </StackLayout>
</FlexboxLayout>