<!--<FlexboxLayout class="homeWidget" col="{{ colNum }}" row="{{ rowNum }}" rowSpan="{{ rowSpanNum }}" colSpan="{{ colSpanNum }}" textWrap="true" style="{{ customStyle }}">
    <Image src="{{ imgUrl }}" stretch="none" class="shortcutImages img-rounded p-l-15 p-r-15 p-t-15"></Image>
    <Label class="headerText" text="{{ headerText }}" class="title"></Label>
</FlexboxLayout>-->

<!--<FlexboxLayout class="" col="{{ colNum }}" row="{{ rowNum }}" rowSpan="{{ rowSpanNum }}" colSpan="{{ colSpanNum }}" textWrap="true" style="{{ customStyle }}">
<CardView class="homeWidget" elevation="7" radius="30" ios:shadowRadius="3">
    <StackLayout class="card-layout">
        <StackLayout>
        <Image src="{{ imgUrl }}" stretch="aspectFit" class="shortcutImages"></Image>
        </StackLayout>
        <Label class="headerText" text="{{ headerText }}" class="title"></Label>
    </StackLayout>
</CardView>
</FlexboxLayout>-->
<CardView class="homeWidget" elevation="7" radius="30" ios:shadowRadius="3" width="90%" height="50%">
    <StackLayout class="card-layout">
        <StackLayout>
        <Image src="{{ imgUrl }}" stretch="aspectFit" class="shortcutImages"></Image>
        </StackLayout>
        <Label class="headerText" text="{{ headerText }}" class="title"></Label>
    </StackLayout>
</CardView>
